body{
    background-color: #e4e7ed;
}

.btn1{
    background-color: transparent;
    color: black;
    border: none;
}
.navbag{
    background-color: #2874f0;
}
.item-bar {
    margin-left: 100px;
    font-size: 18px;
}
.item-bar   li a{
    color: white;
}
.btn{
    color: #2874f0;
    position: relative;
    right: 50px;
    border: none;
}
.log{
    color: white;
}
.log:hover{
    background-color:transparent;
}
.list1{
    background-color: white;
}
.list2{
    list-style-type: none;
}
ul a li{
    margin-left: 30px;
    color: black;
    font-weight: 500;
} 
ul a li:hover{
    color: #0163ff;
}
.list2 a:hover{
    text-decoration: none;
}
.drop{
    background-color: transparent;
    border: none;
}
.drop:hover{
    background-color: transparent;
}
.dropdown a{
    color: black;
}
.main{
    text-align: center;
}
.card{
    width: 230px;
    border: none;
}
.card img{
    width: 150px;
    margin-top: 10px;
}
.card img:hover{
    transform: scale(1.03);
    transition: all 1s;
}

.deals{
    background-color: #fff;
    width: 100%;
}

.footer {
    background-color: #172337;
    color: #fff;
    font-size: 13px;
}

.footer ul li {
    font-weight: bold;
    list-style-type: none;
}

.footer ul a li {
    color: white;
}

ul p {
    color: grey;
}

.add {
    width: 190px;
    font-size: 13px;
    color: rgb(231, 223, 223);
}

.mail {
    border-left: 1px solid rgba(128, 128, 128, 0.393);
    padding-left: 20px;

}

.office {
    width: 190px;
    font-size: 11px;
    color: rgb(231, 223, 223);
}

.us {
    color: grey;
}

.registerd {
    color: grey;
}

.icons i {
    margin-left: 20px;
    font-size: 20px;
}

.line {
    border-bottom: 1px solid rgba(128, 128, 128, 0.393);
    padding-bottom: 25px;
}
.form-model{
    font-family: "Poppins", sans-serif;
}
.mod{
    box-shadow: 0 0 50px rgba(9, 0, 0, 0.222);
    border: none;
}